body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

.logo {
    padding: 5px;
    display: block;
}

a {
    text-decoration: none;
}

.menu {
    float: right;
    cursor: pointer;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

    .menu li {
        float: left;
    }

        .menu li a {
            padding: 35px 15px;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

            .menu li a:hover {
                background-color: #2fde8f;
                color: white;
            }
/*<slider>*/
.content {
    background-image: url(images/slider/back.png);
    height: 100%;
}

.imgback {
    background-color: #000000eb;
    background-image: url(images/slider/cloud.png);
}

.slider {
    text-align: center;
    padding-top: 40px;
}


/*<!--<WHO ARE WE>-->*/
.about {
    text-align: center;
}

    .about h1 {
        display: block;
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        font-weight: bold;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-size: 40px;
        padding-top: 50px;
    }

    .about h4 {
        display: block;
        margin: 30px auto;
        padding-left: 0px;
        line-height: 10px;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        text-align: center;
        font-size: 15px;
    }

.wrap {
    margin-top: 0px;
    padding: 20px 10px;
    border-bottom: 0px none black;
    background-color: #323A45;
    height: 800px;
    color: white;
}

.sepreater {
    display: block;
    width: 100%;
    height: 0px;
    margin: 0px auto 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 4px double rgba(0, 0, 0, 0.23);
    box-shadow: none;
    color: #333;
}

.about p {
    margin-bottom: 50px;
}

.about aboutimg {
    display: block;
    margin: 50px auto 35px;
    text-align: center;
}

.imgback1 {
    background-image: -webkit-linear-gradient(rgba(179, 105, 149, 0.70), #b36995);
    background-image: -o-linear-gradient(rgba(179, 105, 149, 0.70), #b36995);
    background-image: linear-gradient(rgba(179, 105, 149, 0.70), #b36995);
    /*padding-bottom:40px;*/
}

.slider1 {
    padding: 100px 0;
}





.content1 {
    background-image: url(images/parlex.png);
}

.exp-back h1 {
    margin: 0px 100px;
    font-size: 50px;
    color: white;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 25px;
    padding-top: 90px;
}

.sepreater2 {
    border-bottom: 4px double rgba(255, 255, 255, 0.53);
    padding-bottom: 3px;
    margin-left: 100px;
    width: 350px;
}

.exp-back p {
    margin-top: 40px;
    color: #d6d6d6;
    text-align: left;
    margin-left: 100px;
}


.button {
    margin-top: 35px;
    text-align: center;
    padding-left:40px;
    padding-bottom:30px;
}

.btn1 {
    color: #FFF;
    font-weight: 100;
    padding: 15px;
    border: 1px solid #FFF;
    border-radius: 4px;
    font-size: 25px;
    /*float:left;*/
    font-family: 'Lato', Calibri, Arial, sans-serif;
    display: inline-block;
}

.btn2 {
    color: #FFF;
    background: #223C4B;
    padding: 10px;
    border: 1px solid #223C4B;
    border-radius: 4px;
    font-weight: 100;
    font-size: 30px;
    /*float:left;*/
    font-family: 'Lato', Calibri, Arial, sans-serif;
    margin-left: 15px;
    display: inline-block;
}

.btn1:hover {
    background-color: #223c4b;
}

.btn2:hover {
    color: #FFF;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0);
}
/*<!--<BUY NOW>-->*/


.t-back {
    background-color: #303030;
    height: 256px;
    width: 100%;
    padding-top: 25px;
    margin-top: -10px;
}

.onepage {
    margin-left: 90px;
    padding: 20px;
    color: white;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border-right: solid 1.5px white;
}

.border {
    border: 1px solid white;
    margin-top: 40px;
}

.box {
    /*margin-top:45px;*/
    margin-left: 38px;
    padding-top: 60px;
}

.buy {
    border: 1.5px solid white;
    border-radius: 4px;
    color: white;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 6px;
}

    .buy:hover {
        background-color: #e94463;
        border: none;
        color: black;
    }

/*<!--<!!!services!!!>-->*/


.content2 {
    background-image: url(images/parlex.png);
}


.imgback2 {
    background-image: -webkit-linear-gradient(#800b36, rgba(128, 11, 54, 0.50) 56%);
    background-image: -o-linear-gradient(#800b36, rgba(128, 11, 54, 0.50) 56%);
    background-image: linear-gradient(#800b36, rgba(128, 11, 54, 0.50) 56%);
    height: 650px;
    background-attachment: scroll;
    background-repeat: repeat-y;
}


.sepreater3 {
    display: block;
    width: 1000px;
    height: 0px;
    margin: 0px auto 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 4px double white;
    box-shadow: none;
    color: rgba(228, 220, 220, 0.00);
}

.about3 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    display: block;
}

    .about3 h1 {
        padding: 30px 0px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        line-height: 20px;
        font-weight: bold;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-size: 40px;
    }

    .about3 h4 {
        display: block;
        margin: 30px auto;
        padding-left: 0px;
        line-height: 10px;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        text-align: center;
        font-size: 15px;
    }

    .about3 p {
        /*margin-top:20px;*/
    }


.icon img {
    padding: 0px 0px;
    cursor: pointer;
}

.icon {
    color: #ccc;
    text-align: center;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}


/*OUR PROCESS/**/

.process {
    background-image: -webkit-linear-gradient(#0ac791, #00c788);
    background-image: -o-linear-gradient(#0ac791, #00c788);
    background-image: linear-gradient(#0ac791, #00c788);
    /*height:650px;*/
    font-family: 'Lato', Calibri, Arial, sans-serif;
    padding-top: 40px;
}

.heading h1 {
    margin: 10px 0px;
    color: white;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}

.sepreater4 {
    display: block;
    width: 100%;
    height: 0px;
    margin: 0px auto 15px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom: 4px double rgba(0, 0, 0, 0.23);
    box-shadow: none;
    color: #333;
}

.heading h4 {
    color: #fff;
    text-align: center;
}
/*.processor{
    text-align: center;
    color:white;
    border: 1.5px solid white;
    border-radius:10px;
   
}*/

.hi-icon {
    color: white;
    font-family: 'ecoicon';
    font-size: 48px;
    line-height: 90px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid white;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
}

    .hi-icon a {
        color: white;
    }

    .hi-icon h4 {
        font-size: 20px;
        margin: 0px 0px 10px;
        padding-top: 25px;
        color: white;
        font-size: 20px;
        font-weight: 900;
        line-height: 24px;
        text-align: center;
        font-family: 'Lato', Calibri, Arial, sans-serif;
        padding-left: -15px;
    }

.para {
    color: white;
    text-align: center;
}

    .para p {
        font-size: 15px;
        margin-top: 55px;
        padding-bottom: 50px;
    }

.hi-icon a:hover {
}

/*PORTFOLIO*/
.port {
    background-image: url(images/parlex.png);
    background-size: cover;
}

.portfolio {
    background-image: linear-gradient(rgba(72, 207, 173, 0.99), rgba(72, 207, 173, 0.78));
    height: 100%;
    padding-bottom: 50px;
}

.head h1 {
    padding-top: 50px;
    color: white;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.head h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 100;
}

.sepreater5 {
    display: block;
    width: 100%;
    height: 0px;
    margin: 0px auto 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 4px double rgba(0, 0, 0, 0.23);
    box-shadow: none;
    color: #333;
}

.para2 p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
}

.iconport {
    padding-top: 70px;
    text-align: center;
}

.figure {
    border: 10px solid #fff;
    box-shadow: 5px 5px 0 #20AE61;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 15px;
    position: relative;
}

.figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #2c3f52;
    opacity: 0;
}

.figure img {
    width: 210px;
}

.figure:hover .figcaption {
    opacity: 1;
    transform: translateY(15px) translateX(15px);
}

.figcaption {
    color: white;
    /*margin-top: 50px;*/
}

    .figcaption p {
        padding: 10px;
        color: #ed4e6e;
    }

    .figcaption a {
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        display: inline-block;
        background: #ed4e6e;
        color: #fff;
    }

@keyframes movement {
    50% {
        transform: translateY(8px);
    }


}

.figure:hover {
    animation-name: movement;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/*OUR PLAN SECTION*/

.our-plan h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 50px;
}


.our-plan p {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 10px 10px;
}

.plan-back {
    background-color: #00b8b1;
    height: 800px;
}

.wrap2 {
    padding-top: 40px;
    margin-bottom: 40px;
    padding: 20px 10px;
    border-bottom: 0px none black;
    color: #333;
}

.sepreater6 {
    display: block;
    width: 90%;
    height: 0px;
    margin: 0px auto 15px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 4px double rgba(0, 0, 0, 0.23);
    box-shadow: none;
    color: #333;
}

.plan-paragraph p {
    text-align: center;
    color: white;
}

.w-col w-col-3 {
    position: relative;
    float: left;
    display: inline-block;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    /*margin:auto;*/ 
}

.plan1 {
    padding-left: 0px;
    border-style: solid;
    border-width: 1px 1px 4px;
    border-color: #ffce54;
    text-align: center;
}

.plan1-ser1 {
    background-color: #ffce54;
    padding-bottom: 40px;
}

.plan1-ser1-para {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 60px;
    padding: 0px 10px 20px;
    border-bottom: 2px dashed #eee;
    color: white;
    text-align: center;
}

.plan-1-butn {
    display: block;
    width: 40%;
    margin: 10px auto 20px;
    padding: 10px;
    border-radius: 0px;
    background-color: #ffce54;
    box-shadow: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.plan2 {
    padding-left: 0px;
    border-style: solid;
    border-width: 1px 1px 4px;
    border-color: #ed5565;
    text-align: center;
}

.plan2-ser2 {
    background-color: #ed5565;
    padding-bottom: 40px;
}

.plan2-ser2-para {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 60px;
    padding: 0px 10px 20px;
    border-bottom: 2px dashed #eee;
    color: white;
    text-align: center;
}

.plan-2-butn {
    display: block;
    width: 40%;
    margin: 10px auto 20px;
    padding: 10px;
    border-radius: 0px;
    background-color: #ed5565;
    box-shadow: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.plan3 {
    padding-left: 0px;
    border-style: solid;
    border-width: 1px 1px 4px;
    border-color: #a0d468;
       text-align: center;
}

.plan3-ser3 {
    background-color: #a0d468;
    padding-bottom: 40px;
}

.plan3-ser3-para {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 60px;
    padding: 0px 10px 20px;
    border-bottom: 2px dashed #eee;
    color: white;
    text-align: center;
}

.plan-3-butn {
    display: block;
    width: 40%;
    margin: 10px auto 20px;
    padding: 10px;
    border-radius: 0px;
    background-color: #a0d468;
    box-shadow: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.plan4 {
    padding-left: 0px;
    border-style: solid;
    border-width: 1px 1px 4px;
    border-bottom-style: solid;
    border-color: #fc6e51;
    text-align: center;
    position:absolute;
}

.plan4-ser4 {
    background-color: #fc6e51;
    padding-bottom: 40px;
}

.plan4-ser4-para {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 60px;
    padding: 0px 10px 20px;
    border-bottom: 2px dashed #eee;
    color: white;
    text-align: center;
}

.plan-4-butn {
    display: block;
    width: 40%;
    margin: 10px auto 20px;
    padding: 10px;
    border-radius: 0px;
    background-color: #fc6e51;
    box-shadow: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.w-row {
    margin: 30px;
    margin-left: 250px;
}

.plan h4 {
    color: white;
    font-size: 20px;
}

.plan p {
    color: white;
    font-weight: 100;
}

/*OUR TEAMS*/

.team-parlex {
    background-image: url(../images/team.png);
    background-size: 350px;
    background-attachment: fixed;
}

.parlex5-back {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.74);
    height: 740px;
}

.wraper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding:20px 10px;
    border-bottom: 0px none black;
    color: #333;
}

.team h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}




.sepreater7 {
    display: block;
    width: 90%;
    height: 0px;
    margin: 0px auto 10px;
    padding-top: 5px;
    border-bottom: 4px double;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.70);
}

 .team-text p {
    display: block;
    margin: 20px auto;
    color: white;
    font-size: 15px;
    text-align: center;

}
 .w-container .w-row {
    
    margin-right:10px;
    text-align:center;

}
 .team-image {
    background-color: rgba(72, 207, 173, 0.68);
    
}
 .team-img {
    display: block;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right:30px;
    margin-left: 30px;
    padding-top: 15px ;
    padding-bottom:35px;
    border-radius: 50%;
}
 .team-des {
    background-color: white;
}
 .team-social {
    background-color: #ddd;
}
.team-section {
    margin-top: 0px auto;
    padding:20px;
}
w-col w-col-4{
  
}
.team-name {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 25px 5px 10px;
    color: #888;
    text-align: center;
}
.team-name-des {
    padding-top: 0px;
    padding-bottom: 25px;
    text-align: center;
}

.team-section:hover {
    animation-name: expandOpen;
    -webkit-animation-name: expandOpen;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important;
}


/*<!--///////////////////////////////////////////////////////*/
       /*// Clients section*/
       /*//////////////////////////////////////////////////////////-->*/

.imgrow img{
    text-align:center;
    width:105px;
    height:55px;
   
}
.parlex6-back {
    
     height:120px;
     padding-top:30px;
  
}


  /*<!--///////////////////////////////////////////////////////
       // Contact section
       //////////////////////////////////////////////////////////-->/**/

.parlex8-back {
    padding-top: 15px;
    background-color: #ffce54;
    padding-bottom:35px;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 940px;*/
}
.wrapform{
    height:100%;
    padding-top:40px;
}
.contact-div h1 {
   
    margin: 10px 0px;
    color: white;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}
.contact-para {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  /*resize: vertical*/
  font-style:italic;
}

input[type=submit] {
  background-color:black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 
input[type=submit]:hover {
  background-color:white;
  color:#ffce54
}

/*container {
    border-radius: 5px;
    padding: 20px;
}*/




.map-responsive{
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
   
}
.map-responsive iframe{
    left:0;
    top:0;
    height:350px;
    width:100%;
    position:absolute;
}

















